/* 
			  _____                    _____          
			 /\    \                  /\    \         
			/::\    \                /::\    \        
		   /::::\    \              /::::\    \       
		  /::::::\    \            /::::::\    \      
		 /:::/\:::\    \          /:::/\:::\    \     
		/:::/__\:::\    \        /:::/__\:::\    \    
		\:::\   \:::\    \      /::::\   \:::\    \   
	  ___\:::\   \:::\    \    /::::::\   \:::\    \  
	 /\   \:::\   \:::\    \  /:::/\:::\   \:::\ ___\ 
	/::\   \:::\   \:::\____\/:::/__\:::\   \:::|    |
	\:::\   \:::\   \::/    /\:::\   \:::\  /:::|____|
	 \:::\   \:::\   \/____/  \:::\   \:::\/:::/    / 
      \:::\   \:::\    \       \:::\   \::::::/    /  
	   \:::\   \:::\____\       \:::\   \::::/    /   
		\:::\  /:::/    /        \:::\  /:::/    /    
		 \:::\/:::/    /          \:::\/:::/    /     
		  \::::::/    /            \::::::/    /      
		   \::::/    /              \::::/    /       
			\::/    /                \::/____/        
			 \/____/                  ~~              
					 Socialbomb, inc.
				 Since naughtical times
				 
				Author: Axel Esquite
				Date: Tues October 18, 2011
*/
body {
	font-family: Verdana, Arial, "MS Trebuchet", sans-serif;
}
#container { }
#main { }
ul.cards {
	list-style-type: none;
}
ul.cards li {
	/*float:left;*/
	width:187px;
	height:262px;
	padding:10px;
	margin:5px;
	overflow:hidden;
	display: inline-table;
	border: 1px solid #000;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
ul.cards li .points {
	float:right;
	font-size:3em;
	top:-10px;
	position:relative;
}
#production_cards p {
	margin: 10px 0px 0px 0px;
}
ul.cards li img {
	margin: 0 auto;
	display:block;
}
ul.cards .turns {
	float:left;
	margin-top:230px;
}
ul.cards .cost {
	float:right;
	margin-top:230px;
	position: relative;
	right: -25px;
	text-align: right;
}