/* 
			  _____                    _____          
			 /\    \                  /\    \         
			/::\    \                /::\    \        
		   /::::\    \              /::::\    \       
		  /::::::\    \            /::::::\    \      
		 /:::/\:::\    \          /:::/\:::\    \     
		/:::/__\:::\    \        /:::/__\:::\    \    
		\:::\   \:::\    \      /::::\   \:::\    \   
	  ___\:::\   \:::\    \    /::::::\   \:::\    \  
	 /\   \:::\   \:::\    \  /:::/\:::\   \:::\ ___\ 
	/::\   \:::\   \:::\____\/:::/__\:::\   \:::|    |
	\:::\   \:::\   \::/    /\:::\   \:::\  /:::|____|
	 \:::\   \:::\   \/____/  \:::\   \:::\/:::/    / 
      \:::\   \:::\    \       \:::\   \::::::/    /  
	   \:::\   \:::\____\       \:::\   \::::/    /   
		\:::\  /:::/    /        \:::\  /:::/    /    
		 \:::\/:::/    /          \:::\/:::/    /     
		  \::::::/    /            \::::::/    /      
		   \::::/    /              \::::/    /       
			\::/    /                \::/____/        
			 \/____/                  ~~              
					 Socialbomb, inc.
				 Since naughtical times
				 
				Author: Axel Esquite
				Date: Tues October 18, 2011
*/
#container { }
#main { }
ul#cards {
	list-style-type: none;
}
ul#cards li {
	float:left;
	width:250px;
	padding:5px;
	margin: 5px;
	border: 1px solid #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}