{% extends "main.html" %}

{% block styles %}
	<link rel="stylesheet" href="{{ static_url("css/default.css") }}" />
	<link rel="stylesheet" href="{{ static_url("css/style.css") }}" />
	<link rel="shortcut icon" href="{{ static_url("img/_favicon.ico") }}">
	<link rel="apple-touch-icon" href="{{ static_url("img/_sb_apple_touch_icon.png") }}">

{% end %}

{% block first_load_scripts %}
	<script type="text/javascript" src="{{ static_url("js/libs/modernizr-1.7.min.js") }}"></script>
	<script data-main="/static/js/main" src="{{ static_url("js/libs/require-jquery.js") }}"
	<script type="text/javascript">
		var environment = {
			page: '{{ page_heading }}'
		};
	</script>

{% end %}

{% block header %}
	<header>
		
	</header>
{% end %}

{% block body %}
	<div id="container">
		<ul id="production_cards" class="cards"></ul>
		<ul id="action_cards" class="cards"></ul>
	</div>
{% end %}

{% block last_load %}

{% end %}